:root{
    --primary-color: hotpink;
    --secondary-color: rgb(59, 59, 59);
    --light: #efefef
}

body{
    background-color: var(--secondary-color);
    color: var(--light);
    font-size: 16px;
}

h1{
   font-size: 250%;
}

h2{
font-size: 200%;
}

h3{
font-size: 175%;
}



header{
    text-align: center;
    margin: 40px 0px;
    padding-left:40px;
    padding-right:40px;

}
.page-title{
    color: var(--primary-color);
    margin-bottom: 20px;
}

p{
    line-height: 130%;
}

.row{
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
}

.justify-center{
    justify-content: center;
}

.card-column{
    width: 33%;
    margin-bottom: 55px;

}

.card{
    background-color: transparent;
    border: 1.5px dashed var(--light);
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card h2, .card p{
    color: var(--primary-color);
}


.card p{
    margin-bottom: 15px;
}

.card-header{
    position: absolute;
    top: -17px;
    left: 0px;
    padding: 4px;
    background-color: var(--secondary-color);
    border: 2px solid var(var(--light))
}

.code-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    flex:1;
    background: linear-gradient(45deg, var(--primary-color) 0%, #883860 100%);
}

/* Media queires */

@media (max-width: 840px) {
    .card-column{
        width:50%;
    }
}

/* Mobile */
@media (max-width: 767px){

}